@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .project-container {
    @apply py-8 md:py-16 lg:py-[124px];
  }
  .left-container {
    @apply lg:max-w-[656px] xl:max-w-[1200px];
  }
  .btn {
    @apply flex items-center justify-center text-center shadow-btnSh w-[280px] min-h-[56px] px-7 rounded border text-lg leading-[21px] font-semibold md:w-[256px];
  }

  .dialogOne {
    background-image: url('../public/hero/dialogWindow1.png');
    background-repeat: no-repeat;
  }

  .dialogTwo {
    background-image: url('../public/hero/dialogWindow2.png');
    background-repeat: no-repeat;
  }

  .dialogThree {
    background-image: url('../public/hero/dialogWindow3.png');
    background-repeat: no-repeat;
  }

  .btnPrimary {
    @apply bg-brand1 text-light  hover:bg-blue  focus:bg-blue transition-colors duration-200;
  }
  .btnSecondary {
    @apply bg-light text-brand1 border-2 border-brand1 hover:bg-brand3 hover:text-light hover:border-brand3 focus:bg-brand3 focus:text-light focus:border-brand3 transition-colors duration-200;
  }

  .treeBg {
    @media (min-width: 768px) {
      background-image: url('../public/tree404.svg');
      background-repeat: no-repeat;
      background-position: bottom 64px center;
    }

    @media (min-width: 1440px) {
      background-position: bottom 12px center;
      background-size: 1240px 660px;
    }
  }
}
