.dialogOne {
    background-image: url('../public/hero/dialogWindow1.png');
    background-repeat: no-repeat;
}

.dialogTwo {
    background-image: url('../public/hero/dialogWindow2.png');
    background-repeat: no-repeat;
}

.dialogThree {
    background-image: url('../public/hero/dialogWindow3.png');
    background-repeat: no-repeat;
}